@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url("./assets/img/bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white-blue {
    background-image: url("./assets/img/bg-white.png");
    background-size: cover;
    background-repeat: no-repeat;
}