@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url("./assets/img/bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white-blue {
    background-image: url("./assets/img/bg-white.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-ong {
    background-image: url("./assets/img/bg-ongs.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.rc-time-picker-input {
    border: none !important;
}
.capa {
    box-shadow: -23px 21px 0px 2px rgba(79, 121, 254, 1);
}
